body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    background-color: #b6b6b6;
  }

  #container {
    width: 90%;
    height: 300px;
    border-bottom: 2px solid #444;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .overtone {
    position: relative;
    width: 20px;
  }

  .line {
    width: 4px;
    background:  #757575;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .handle {
    width: 14px;
    height: 14px;
    background: black;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: grab;
    user-select: none;
  }

  .handle:active {
    cursor: grabbing;
  }

  button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 1rem;
  }
